.react-select-container {
  font-size: 12px;
  margin-bottom: 10px;
  margin-right: 15px;
}

.model-proj-subtitle{
  margin: 25px 5px 5px;
  font-size: 14px;
}



.flex-grid {
  display: flex;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background:  linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url(/imgs/background.png) no-repeat center right;
  background-size: cover;
  color:rgba(0,0,0,.77);
}

.flex-grid .col1 {
  padding: 20px;
  background-color: #fafafa;
  box-shadow: 1px;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.flex-grid h3 {
  margin: 0;
    padding-top: 40px;
    font-size: 1em;
    margin-left: 3px;
    margin-bottom: -5px;
}

.flex-grid h1 {
  margin: 0;
    font-size: 2.8em;
}

.flex-grid .subtitle {
  margin-top: -4px;
  margin-left: 4px;
  font-size: calc(8px + 1.4vmin);
}
.flex-grid .droparea {
  text-align: center;
  padding: 60px;
  border: 2px dashed rgb(145, 145, 145);
  border-radius: 15px;
  margin: 30px 50px;
  color: rgb(145, 145, 145)
}

.droparea p {
  font-size: 0.6em;
  color: rgb(145, 145, 145);
}

.blurb {
  font-size: 0.5em;
  color: rgb(145, 145, 145);
  margin-left: 5px;
}


.col1 {
  flex: 3;
}
.col2 {
  flex: 4;
}

.btns-float-left {
  float:right;
  margin-right: 15px;
}


@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}